* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fe0000;
  padding: 10px 40px;
  color: white;
 
}

#logotext {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo {
  width: 50px;
  height: 60px;
  background-color: #1a1a1a;
  border-radius: 5px;
  

}

#logo2 {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-color: #1a1a1a;
  border-radius: 5px;
}

#hi {
  margin: 0;
  vertical-align: middle;
}

#content {
  list-style: none;
  display: flex;
  gap: 60px;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

a:hover {
  color: rgb(255, 238, 0);
}

#websitename {
  font-size: 24px;
  font-weight: bold;
}


#maincontent {
  margin-top: 60px;
  padding: 20px;
}

#maincontent h1 {
  font-size: 36px;
  margin-bottom: 10px;
 
}

#maincontent h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#maincontent p {
  font-size: 18px;
  max-width: 500px;
  margin: 0 460px 40px 460px;
  line-height: 1.6;
  
}

.imgbox {
  display: flex;
  justify-content:center;
  gap: 90px;
  margin-bottom: 40px;
}

.imgbox img {
  width: 250px;
  height: 180px;
  border-radius: 10px; 
}

.imgbox img:hover {
  transform:scale(1.3);
  border-style: solid;
  border-color: yellow;
}

#form{
  border-style: solid;
  width: 300px;
  margin-left: 600px;
  margin-top: 150px;
}
#yess{
  display: flex;
  background-color:black;
  gap:20px;
}
.hi{
  display: block;
  width: 260px;
  height: 280px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.id{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fe0000;
  
}
.category{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fe0000;
  
}
.price{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fe0000;
 
}

#apiimages{
  width: 150px;
}